<h1>Show Action</h1>

<p id="notice"><%= notice %></p>

<ul>
  <li><%= @user.name %></li>
  <li><%= @user.email %></li>
</ul>

</br>

<%= link_to "View Posts", user_posts_path %>

</br>

<%= link_to "Back", users_path %>